.help {
    .title {
        color: #CFCFCF;
        font-family: "Golos Text VF", sans-serif;
        font-size: 32px;
        font-style: normal;
        font-weight: 700;
        line-height: 40px;
        margin: 40px 0;
    }

    .accordions {
        margin-bottom: 60px;
        
        .accordion {
            .accordion_head {
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 24px;
                background: transparent;
                border: none;
                outline: none;
                border-bottom: 1px solid #2E3138;

                span {
                    color:#CFCFCF;
                    font-family: "Golos Text VF", sans-serif;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 140%;
                }

                svg {
                    transition: .3s ease all;
                }
            }

            .accordion_head.active {
                svg {
                    transform: rotateZ(180deg);
                    
                    path {
                        stroke: #3561FF;
                    }
                }
            }

            .accordion_content {
                color:#CFCFCF;
                font-family: "Golos Text VF", sans-serif;
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                padding: 24px;
                line-height: 140%;
                border-bottom: 1px solid #2E3138;
                background: linear-gradient(270deg, rgba(31, 34, 41, 0.00) 0%, #1F2229 52.08%);
            }
        }
    }

    @media (max-width: 576px) {
        .title {
            font-size: 26px;
            font-style: normal;
            font-weight: 700;
            line-height: 40px;
            margin-bottom: 40px;
        }

        .accordions {
            margin-bottom: 40px;

            .accordion {
                .accordion_head {    
                    span {
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 500;
                        line-height: 140%;
                        text-align: left;
                        padding-right: 24px;
                    }
                }
    
                .accordion_content {
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 140%;
                }
            }
        }
    }
}

.help_bg_right {
    display: none;
}