@media only screen and (max-width:1300px){
    header{
        .header_wrapper{
            .nav_link{
                gap: 17px;
            }
        }
    }
}
@media only screen and (max-width:1200px){
    .body.hidden2{
        display: block;
    }
    .account_burger{
        display: none;
        position: fixed;
        left: 0;
        top: 62px;
        z-index: 11;
        width: 100%;
        height: 100%;
        background: rgba(31, 34, 41, 0.95);
        .account_link{
            padding: 12px 23px;
            width: 100%;
            border-radius: 0px 0px 15.941px 15.941px;
            background: linear-gradient(134deg, rgba(31, 34, 41, 0.00) 31.52%, #3561FF 117.7%), rgba(0, 0, 0, 0.80);
            backdrop-filter: blur(12.619924545288086px);
            display: flex;
            align-items: start;
            flex-direction: column;
            justify-content: start;
            .account_item_name{
                display: block;
            }
            .account_menu{
                display: flex;
                align-items: center;
            }
            .account_item{
                color: #CFCFCF;
                font-family: 'Golos Text VF',sans-serif;
                font-size: 24px;
                font-style: normal;
                font-weight: 400;
                line-height: 23.911px; /* 99.631% */
                letter-spacing: 0.48px;
                padding-bottom: 14px;
                width: 100%;
                margin-bottom: 20px;
                border-bottom: 1px solid #494C53;
                svg{
                    width: 20px;
                    height: 20px;
                    margin-right: 14px;
                    path{
                        stroke-width: 1.328px;
                        stroke: #CFCFCF;
                        opacity: 0.8;
                    }
                }
                h6{
                    color: #CFCFCF;
                    font-family: 'Golos Text VF',sans-serif;
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 21.383px; /* 118.797% */
                }
                p{
                    color: #CFCFCF;
                    font-family: 'Golos Text VF',sans-serif;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 21.383px; /* 152.739% */
                }
            }
            .account_item_active{
                color: #3561FF;
                svg{
                    path{
                        stroke-width: 1.328px;
                        stroke: #3561FF;
                        opacity: 0.8;                    
                    }
                }
            }
        }
        .account_network{
            display: flex;
            align-items: center;
            gap: 60px;
            margin-top: 80px;
        }
    }
    header{
        .header_wrapper{
            .nav_link{
                gap: 18px;
            }
            .account{
                .search_icon{
                    margin-right: 12px;
                }
                .account_person.active{
                    display: none;
                }
            }
            .header_buttons{
                .header_btn_one{
                    margin-right: 10px;
                    margin-left: 10px;
                    font-size: 10px;
                    width: 90px;
                    height: 35px;
                    border-radius: 10px;
                }
                .header_btn_two{
                    font-size: 10px;
                    width: 90px;
                    height: 35px;
                    border-radius: 10px;
                }
            } 
        } 
    } 
    #index{
        .logo_active{
            a{
                margin-left: 40px;
                margin-right: 40px;
                img{
                    width: 100%;
                }
            }
        }
    }
}
@media only screen and (max-width: 1150px){
    .header_container{
        padding: 0 18px;
    }
    header{
        .header_wrapper{
            .nav_link{
                .nav_item{
                    display: none;
                }
            }
            .header_burger{
                margin-left: 12px;
                display: block;
            }
        }
    }
}
@media only screen and (max-width: 992px){
    header{
        .header_wrapper{
            .nav_link{
                a{
                    font-size: 11px;
                }
            }
        }
    }
    #index{
        .circle_bloks{
            .circle_top{
                .circle_box{
                    width: calc(100% / 8 - (45px / 8));
                }
            }
        }
    }
}
@media only screen and (max-width: 970px){
    #index{
        .recommended{
            display: flex;
            align-items: start;
            gap: 26px;
            flex-direction: column;
            justify-content: space-between;
            .recommended_left{
                width: 100%;
                .recommended_slider{
                    border-radius: 12px;
                    background: #11141B;
                    width: 100%;
                    padding: 30px 80px;
                    margin: 0 auto;
                }
                .mySwiper{
                    .swiper-wrapper{
                        img{
                            height: 100%;
                            border-radius: 15px;
                            object-fit: contain;
                        }
                    }
                }
            }
            .recommended_right{
                width: 100%;
                h4{
                    color: #CFCFCF;
                    font-family: 'Golos Text VF',sans-serif;
                    font-size: 32px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 40px;
                    margin-bottom: 49px; /* 125% */
                }
                .recommended_cards{
                    display: flex;
                    flex-direction: column;
                    gap: 30px;
                    .recommended_card{
                        padding: 9px 12px;
                        height: 120px;
                        display: flex;
                        align-items: start;
                        border-radius: 12px;
                        border: 1px solid #3561FF;
                        background: #1F2229;
                        img{
                            height: 100%;
                        }
                        .recommended_text{
                            margin-left: 23px;
                            h6{
                                font-size: 15.114px;
                            }
                            span{
                                font-size: 14.96px;
                            }
                            p{
                                margin-top: 4px;
                                font-size: 14.96px;
                            }
                        }
                        h5{
                            font-size: 15.114px;
                        }
                    }
                }
            }
        }
    }
}
@media only screen and (max-width: 923px){
    #promotions{
        .promotion_cards{
            .promotion_cards_wrapper{
                justify-content: center;
                .promotion_card{
                    max-width: 49%;
                }
            }
        }
    }
}
@media only screen and (max-width: 768px){
    footer{
        .footer_wrapper{
            .footer_menu{
                margin-right: 60px;
            }
        }
    }  
    #index{
        .circle_bloks{
            .circle_top{
                .circle_box{
                    width: calc(100% / 5 - (45px / 5));
                }
            }
        }
    }
    .mySwiper{
        .swiper-wrapper{
            .img_wrapper {
                .slider_mobile{
                    display: block;
                }
                .slider_desktop{
                    display: none;
                }
            }
        }
    }
    #index{
        .jackpot{
            background-color: #090A0D;
        }
    }
}
@media only screen and (max-width: 719px){
    #promotions{
        .promotion_cards{
            .promotion_cards_wrapper{
                gap: 12px;
                justify-content: center;
                .promotion_card{
                    max-width: 100%;
                    width: 75%;
                }
            }
        }
    }
}
@media only screen and (max-width: 620px){
    #index{
        .main_cards{
            .card_wrapper{
                flex-basis: 270px;
                .card_img{
                    .card_hover{
                        button{
                            svg{
                                width: 20px;
                                height: 20px;
                            }
                        }
                        .card_link{
                            margin: 10px auto;
                            padding: 12px 0;
                            text-align: center;
                            display: block;
                            width: 150px;
                            font-size: 14.6px;
                        }
                        .card_link_two{
                            bottom: 50px;
                            margin: 10px auto;
                            padding: 12px 0;
                            text-align: center;
                            display: block;
                            width: 150px;
                            font-size: 14.6px;
                        }
                    }
                }
            }
        }
    }  
}
@media only screen and (max-width: 576px){
    .bg_bottom{
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        margin: 0 auto;
        height: 15%;
        z-index: -1;
        img{
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }
    .container{
        padding: 0 25px;
    }
    .container_card{
        padding: 0 25px;
    }
    header {
        .header_wrapper{
            .header_logo{
                img{
                    width: 107px;
                }
            }
            .account{
                .account_name{
                    p{
                        font-size: 8px;
                    }
                    h4{
                        line-height: 4px;
                        font-size: 9px;
                    }
                }
                .account_icon{
                    font-size: 10px;
                    width: 26px;
                    height: 26px;
                    margin-left: 8px;
                    margin-right: 4px;
                }
                .account_down{
                    width: 20px;
                }
            }
            .header_burger{
                margin-left: 5px;
            }
        }
    }
    #index{
        .circle_bloks{
            .circle_top{
                justify-content: center;
                padding: 0 41px;
                margin: 0 auto;
                gap: 14px 40px;
                .circle_box{
                    width: calc(50% - (41px / 2));
                }
            }
        }
        .select-selected{
            margin-bottom: 12px;
        }
        .game_title{
            margin-bottom: 0px;
            h3{
                font-size: 26px;
                line-height: 40px;
            }
            p{
                font-size: 16px;
                line-height: 140%;
            }
        }
        .main_cards{
            padding-top: 34px;
            justify-content: space-between;
            gap: 11px;
            .card_wrapper{
                margin-bottom: 20px;
                flex-basis: 48%;
                h4{
                    font-size: 9px;
                }
                .card_img{
                    img{
                        border-radius: 10px;
                    }
                    .card_hover{
                        border-radius: 10px;
                        button{
                            svg{
                                width: 20px;
                                height: 20px;
                            }
                        }
                        .card_link{
                            margin: 10px auto;
                            padding: 10px 0;
                            text-align: center;
                            display: block;
                            width: 140px;
                            font-size: 14.6px;
                        }
                        .card_link_two{
                            bottom: 50px;
                            margin: 10px auto;
                            padding: 10px 0;
                            text-align: center;
                            display: block;
                            width: 140px;
                            font-size: 14.6px;
                        }
                    }
                }
            }
        }
        .provider{
            flex-direction: column;
            .provider_select{
                margin-right: 0;
                margin-bottom: 14px;
                width: 100%;
            }
            .provider_search{
                width: 100%;
                height: 30%;
            }
        }
        .jackpot {
            .jackpot_main {
                margin-right: 18px;
                width: 158px;
                height: 37px;
                font-size: 20.175px;
            }
            .jackpot_main_money{
                font-size: 20px;
            }
        }
        .online_casino{
            h3{
                font-size: 26px;
            }
            p{
                text-align: left;
                font-size: 16px;
            }
        }
        .logo_active{
            a{
                margin-left: 20px;
                margin-right: 20px;
                width: 100px;
                img{
                    width: 100%;
                }
            }
        }
        .logo_noactive{
            a{
                width: 70px;
                img{
                    width: 100%;
                }
            }
        }
        .recommended{
            .recommended_left{
                h4{
                    font-size: 26px;
                    margin-bottom: 30px;
                }
                .recommended_slider{
                    border-radius: 12px;
                    background: #11141B;
                    width: 100%;
                    padding: 10px;
                    margin: 0 auto;
                }
            }
            .recommended_right{
                h4{
                    font-size: 26px;
                    margin-bottom: 30px;
                }
                .recommended_cards{
                    .recommended_card{
                        h5{
                            max-width: 70px;
                            font-size: 10px;
                        }
                        img{
                            width: 100px;
                        }
                        .recommended_text{
                            margin-left: 10px;
                            h6{
                                font-size: 13px;
                            }
                            span{
                                font-size: 12px;
                            }
                            p{
                                font-size: 12px;
                            }
                        }
                    }
                }
            }
        }
        .tt-select{
            margin-bottom: 14px;
            width: 100%;
            margin-right: 0;
        }
    }  
    #promotions{
        .promotion_main{
            margin-top: 30px;
            margin-bottom: 30px;
            h3{
                font-size: 26px;
                font-style: normal;
                font-weight: 600;
                line-height: 40px;
                margin-bottom: 16px;
            }
            p{
                max-width: 314px;
                margin: 0 auto;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 140%;
                margin-bottom: 30px;
            }
            .promotion_btns{
                button{
                    border-radius: 12px;
                    width: 230px;   
                    height: 40px;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: normal;
                    letter-spacing: 0.28px;
                }
            }
        }
        .promotion_cards{
            .promotion_card_title{
                margin-top: 30px;
                h2{
                    font-size: 26px;
                    line-height: 40px;
                    margin-bottom: 16px;
                }
                p{
                    font-size: 16px;
                    line-height: 140%;
                }
            }
            .promotion_cards_wrapper{
                margin-bottom: 0px;
                .promotion_card{
                    padding: 5px 5px 10px 5px;
                    max-width: 100%;
                    width: 100%;
                    img{
                        width: 100%;
                        height: 124px;
                    }
                    .card_btn{
                        button{
                            border-radius: 12px;
                            width: 133px;
                            height: 37px;
                        }
                    }
                }
            }
        }
    }
    footer{
        padding-bottom: 40px;

        
        .footer_wrapper{
            flex-direction: column;

            .network_messenger {
                margin-top: 20px;
            }
            
            .footer_menu{
                margin-top: 20px;
                margin-bottom: 20px;
                margin-left: 0;
            }

            .footer_text {
                margin-top: 20px;
            }

        }
    }

    .swiper-pagination {
        .swiper-pagination-bullet {
            transform: translateY(2px);
            margin: 0 5px !important;
        }
    }
    
}
@media only screen and (max-width: 486px){
    #index{
        .main_cards{
            .card_wrapper{
                .card_img{
                    .card_hover{
                        button{
                            svg{
                                width: 15px;
                                height: 15px;
                            }
                        }
                        .card_link{
                            margin: 10px auto;
                            padding: 4px 0;
                            text-align: center;
                            display: block;
                            width: 60%;
                            font-size: 8.6px;
                        }
                        .card_link_two{
                            bottom: 25px;
                            margin: 10px auto;
                            padding: 4px 0;
                            text-align: center;
                            display: block;
                            width: 60%;
                            font-size: 8.6px;
                        }
                    }
                }
            }
        }
    }
    header{
        .header_wrapper{
            .header_buttons{
                .header_btn_one{
                    margin-right: 5px;
                    margin-left: 5px;
                    font-size: 10px;
                    width: 80px;
                    height: 30px;
                    border-radius: 10px;
                }
                .header_btn_two{
                    font-size: 10px;
                    width: 80px;
                    height: 30px;
                    border-radius: 10px;
                }
            } 
            .account{
                gap: 5px;
                .account_link1,
                .account_link2{
                    width: 70px;
                    height: 30px;
                    font-size: 10px;
                    border-radius: 5px;
                }
            }
        }
    }
    #promotions{
        .promotion_cards{
            .promotion_cards_wrapper{
                .promotion_card{
                    img{
                        width: 100%;
                        height: 94px;
                    }
                }
            }
        }
    }
}