@media only screen and (max-width:1200px){
    header{
        .header_wrapper{
            .nav_link{
                gap: 18px;
            }
            .account{
                .search_icon{
                    margin-right: 12px;
                }
            }
        } 
    } 
    #index{
        .logo_active{
            a{
                margin-left: 40px;
                margin-right: 40px;
                img{
                    width: 100%;
                }
            }
        }
    }
}
@media only screen and (max-width: 992px){
    header{
        .header_wrapper{
            .nav_link{
                a{
                    font-size: 11px;
                }
            }
        }
    }
}
@media only screen and (max-width:970px){
    #index{
        .recommended{
            display: flex;
            align-items: start;
            gap: 26px;
            flex-direction: column;
            justify-content: space-between;
            .recommended_left{
                width: 100%;
                .recommended_slider{
                    border-radius: 12px;
                    background: #11141B;
                    width: 100%;
                    padding: 30px 80px;
                    margin: 0 auto;
                }
                .mySwiper{
                    .swiper-wrapper{
                        height: 212px;
                        width: 100%;
                        img{
                            height: 100%;
                            border-radius: 15px;
                            object-fit: contain;
                        }
                    }
                }
            }
            .recommended_right{
                width: 100%;
                h4{
                    color: #fff;
                    font-family: 'Golos Text VF',sans-serif;
                    font-size: 32px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 40px;
                    margin-bottom: 49px; /* 125% */
                }
                .recommended_cards{
                    display: flex;
                    flex-direction: column;
                    gap: 30px;
                    .recommended_card{
                        padding: 9px 12px;
                        height: 120px;
                        display: flex;
                        align-items: start;
                        border-radius: 12px;
                        border: 1px solid #3561FF;
                        background: #1F2229;
                        img{
                            height: 100%;
                        }
                        .recommended_text{
                            margin-left: 23px;
                            h6{
                                font-size: 15.114px;
                            }
                            span{
                                font-size: 14.96px;
                            }
                            p{
                                margin-top: 4px;
                                font-size: 14.96px;
                            }
                        }
                        h5{
                            font-size: 15.114px;
                        }
                    }
                }
            }
        }
    }
}
@media only screen and (max-width: 870px){
    .header_container{
        padding: 0 18px;
    }
    header{
        .header_wrapper{
            .nav_link{
                .nav_item{
                    display: none;
                }
            }
            .header_burger{
                margin-left: 12px;
                display: block;
            }
        }
    }
}
@media only screen and (max-width: 768px){
    footer{
        .footer_wrapper{
            .footer_menu{
                margin-right: 60px;
            }
        }
    }  
    .mySwiper{
        .swiper-wrapper{
            .media_slider{
                display: block;
            }
            .desktop_slider{
                display: none;
            }
        }
    }
    #index{
        .jackpot{
            background-color: #090A0D;
        }
    }
}
@media only screen and (max-width: 620px){
    #index{
        .main_cards{
            .card_wrapper{
                flex-basis: 270px;
                .card_img{
                    .card_hover{
                        button{
                            svg{
                                width: 20px;
                                height: 20px;
                            }
                        }
                        .card_link{
                            margin: 10px auto;
                            padding: 12px 0;
                            text-align: center;
                            display: block;
                            width: 150px;
                            font-size: 14.6px;
                        }
                        .card_link_two{
                            bottom: 50px;
                            margin: 10px auto;
                            padding: 12px 0;
                            text-align: center;
                            display: block;
                            width: 150px;
                            font-size: 14.6px;
                        }
                    }
                }
            }
        }
    }  
}
@media only screen and (max-width: 576px){
    .bg_bottom{
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        margin: 0 auto;
        height: 15%;
        z-index: -1;
        img{
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }
    .container{
        padding: 0 25px;
    }
    .container_card{
        padding: 0 25px;
    }
    header {
        .header_wrapper{
            .header_logo{
                img{
                    width: 107px;
                }
            }
            .account{
                .account_name{
                    p{
                        font-size: 8px;
                    }
                    h4{
                        line-height: 4px;
                        font-size: 9px;
                    }
                }
                .account_icon{
                    font-size: 10px;
                    width: 26px;
                    height: 26px;
                    margin-left: 8px;
                    margin-right: 4px;
                }
                .account_down{
                    width: 20px;
                }
            }
            .header_burger{
                margin-left: 5px;
            }
        }
    }
    #index{
        .main_cards{
            padding-top: 34px;
            justify-content: space-between;
            gap: 11px;
            .card_wrapper{
                margin-bottom: 20px;
                flex-basis: 48%;
                h4{
                    font-size: 9px;
                }
                .card_img{
                    img{
                        border-radius: 10px;
                    }
                    .card_hover{
                        border-radius: 10px;
                        button{
                            svg{
                                width: 20px;
                                height: 20px;
                            }
                        }
                        .card_link{
                            margin: 10px auto;
                            padding: 10px 0;
                            text-align: center;
                            display: block;
                            width: 140px;
                            font-size: 14.6px;
                        }
                        .card_link_two{
                            bottom: 50px;
                            margin: 10px auto;
                            padding: 10px 0;
                            text-align: center;
                            display: block;
                            width: 140px;
                            font-size: 14.6px;
                        }
                    }
                }
            }
        }
        .provider{
            flex-direction: column;
            .provider_select{
                margin-right: 0;
                margin-bottom: 14px;
                width: 100%;
            }
            .provider_search{
                width: 100%;
            }
        }
        .jackpot {
            .jackpot_main {
                margin-right: 18px;
                width: 158px;
                height: 37px;
                font-size: 20.175px;
            }
            .jackpot_main_money{
                font-size: 20px;
            }
        }
        .online_casino{
            h3{
                font-size: 26px;
            }
            p{
                text-align: left;
                font-size: 16px;
            }
        }
        .logo_active{
            a{
                margin-left: 20px;
                margin-right: 20px;
                width: 100px;
                img{
                    width: 100%;
                }
            }
        }
        .logo_noactive{
            a{
                width: 70px;
                img{
                    width: 100%;
                }
            }
        }
        .recommended{
            .recommended_left{
                h4{
                    font-size: 26px;
                    margin-bottom: 30px;
                }
                .recommended_slider{
                    border-radius: 12px;
                    background: #11141B;
                    width: 100%;
                    padding: 10px;
                    margin: 0 auto;
                }
            }
            .recommended_right{
                h4{
                    font-size: 26px;
                    margin-bottom: 30px;
                }
                .recommended_cards{
                    .recommended_card{
                        h5{
                            max-width: 70px;
                            font-size: 10px;
                        }
                        img{
                            width: 100px;
                        }
                        .recommended_text{
                            margin-left: 10px;
                            h6{
                                font-size: 13px;
                            }
                            span{
                                font-size: 12px;
                            }
                            p{
                                font-size: 12px;
                            }
                        }
                    }
                }
            }
        }
        .tt-select{
            margin-bottom: 14px;
            width: 100%;
            margin-right: 0;
        }
    }  
    footer{
        .footer_wrapper{
            flex-direction: column;
            .footer_menu{
                margin-top: 49px;
                margin-bottom: 59px;
                margin-left: 0;
            }
        }
        .footer_text{
            display: none;
        }
    }
}
@media only screen and (max-width: 486px){
    #index{
        .main_cards{
            .card_wrapper{
                .card_img{
                    .card_hover{
                        button{
                            svg{
                                width: 15px;
                                height: 15px;
                            }
                        }
                        .card_link{
                            margin: 10px auto;
                            padding: 4px 0;
                            text-align: center;
                            display: block;
                            width: 60%;
                            font-size: 8.6px;
                        }
                        .card_link_two{
                            bottom: 25px;
                            margin: 10px auto;
                            padding: 4px 0;
                            text-align: center;
                            display: block;
                            width: 60%;
                            font-size: 8.6px;
                        }
                    }
                }
            }
        }
    }
}