@media only screen and (max-width:1200px){
    header{
        .header_wrapper{
            .nav_link{
                gap: 18px;
            }
            .account{
                .search_icon{
                    margin-right: 12px;
                }
            }
        } 
    } 
    #index{
        .logo_active{
            a{
                margin-left: 40px;
                margin-right: 40px;
                img{
                    width: 100%;
                }
            }
        }
    }
}
@media only screen and (max-width: 992px){
    header{
        .header_wrapper{
            .nav_link{
                a{
                    font-size: 11px;
                }
            }
        }
    }
}
@media only screen and (max-width: 870px){
    header{
        .header_wrapper{
            .nav_link{
                .nav_item{
                    display: none;
                }
            }
        }
    }
}
@media only screen and (max-width: 768px){
    footer{
        .footer_wrapper{
            .footer_menu{
                margin-right: 60px;
            }
        }
    }  
}
@media only screen and (max-width: 620px){
    #index{
        .main_cards{
            .card_wrapper{
                flex-basis: 270px;
            }
        }
    }  
}
@media only screen and (max-width: 576px){
    .container{
        padding: 0 25px;
    }
    .container_card{
        padding: 0 25px;
    }
    #index{
        .main_cards{
            padding-top: 34px;
            justify-content: center;
            gap: 11px;
            .card_wrapper{
                margin-bottom: 20px;
                flex-basis: 45%;
                h4{
                    font-size: 9px;
                }
                .card_img{
                    img{
                        border-radius: 10px;
                    }
                    .card_hover{
                        border-radius: 10px;
                    }
                }
            }
        }
        .provider{
            flex-direction: column;
            .provider_select{
                margin-right: 0;
                margin-bottom: 14px;
                width: 100%;
            }
            .provider_search{
                width: 100%;
            }
        }
        .jackpot {
            .jackpot_main {
                margin-right: 18px;
                width: 158px;
                height: 37px;
                font-size: 20.175px;
            }
            .jackpot_main_money{
                font-size: 20px;
            }
        }
        .online_casino{
            h3{
                font-size: 26px;
            }
            p{
                text-align: left;
                font-size: 16px;
            }
        }
        .logo_active{
            a{
                margin-left: 20px;
                margin-right: 20px;
                width: 100px;
                img{
                    width: 100%;
                }
            }
        }
        .logo_noactive{
            a{
                width: 70px;
                img{
                    width: 100%;
                }
            }
        }
    }  
    footer{
        .footer_wrapper{
            flex-direction: column;
            .footer_menu{
                margin-top: 49px;
                margin-bottom: 59px;
                margin-left: 0;
            }
        }
        .footer_text{
            display: none;
        }
    }
}