@font-face {
  font-family: "GolosTextWebVF";
  src: url("../fonts/Golos-Text_VF.woff2") format("woff2"), url("../fonts/Golos-Text_VF.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

input,
label,
textarea,
button,
form,
span {
  display: inline-block;
}

.container {
  max-width: 1100px;
  padding: 0 21px;
  margin: 0 auto;
}

.container_card {
  max-width: 1142px;
  padding: 0 10px;
  margin: 0 auto;
}

.header_container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 39px 0 33px;
}

body {
  position: relative;
  background: #151C2C;
}

body.hidden {
  overflow: hidden;
}

body.hidden2 {
  overflow: hidden;
}

.burger_wrapper {
  display: none;
  position: fixed;
  left: 0;
  top: 62px;
  z-index: 10;
  width: 100%;
  height: 100%;
  background: rgba(31, 34, 41, 0.95);
}
.burger_wrapper .nav_link {
  margin-top: 30px;
}
.burger_wrapper .nav_link .nav_item {
  margin-bottom: 40px;
}
.burger_wrapper .nav_link .nav_item a {
  display: flex;
  align-items: center;
  color: #fff;
  text-align: center;
  font-family: "Golos Text VF", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px; /* 75% */
}
.burger_wrapper .nav_link .nav_item a svg {
  margin-right: 14px;
}
.burger_wrapper .nav_link .nav_item_activee a {
  transform: translateX(-7px);
}
.burger_wrapper .nav_link .nav_item_activee a svg {
  margin-right: 10px;
}
.burger_wrapper .network_messenger {
  margin-top: 120px;
  display: flex;
  align-items: center;
  gap: 60px;
}

.burger_wrapper.active {
  display: block;
}

.container_account {
  position: relative;
}

.account_burger {
  display: none;
  position: absolute;
  right: 0;
  top: 73px;
  z-index: 11;
  width: 271px;
  height: 100%;
}
.account_burger .account_link {
  padding: 12px 18px;
  width: 100%;
  border-radius: 0px 0px 12px 12px;
  background: linear-gradient(134deg, rgba(31, 34, 41, 0) 31.52%, #3561FF 117.7%), rgba(0, 0, 0, 0.8);
  -webkit-backdrop-filter: blur(9.5px);
          backdrop-filter: blur(9.5px);
  display: flex;
  align-items: start;
  flex-direction: column;
  justify-content: start;
}
.account_burger .account_link .account_menu {
  display: flex;
  align-items: center;
}
.account_burger .account_link .account_item {
  color: #FFF;
  font-family: "Golos Text VF", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px; /* 99.631% */
  letter-spacing: 0.48px;
  padding-bottom: 12px;
  width: 100%;
  margin-bottom: 10px;
  border-bottom: 1px solid #494C53;
}
.account_burger .account_link .account_item svg {
  width: 13px;
  height: 13px;
  margin-right: 11px;
}
.account_burger .account_link .account_item svg path {
  stroke-width: 1.328px;
  stroke: #FFF;
  opacity: 0.8;
}
.account_burger .account_link .account_item h6 {
  color: #fff;
  font-family: "Golos Text VF", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 21.383px; /* 118.797% */
}
.account_burger .account_link .account_item p {
  color: #fff;
  font-family: "Golos Text VF", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 21.383px; /* 152.739% */
}
.account_burger .account_link .account_item_name {
  display: none;
}
.account_burger .account_link .account_item_active {
  color: #3561FF;
}
.account_burger .account_link .account_item_active svg path {
  stroke-width: 1.328px;
  stroke: #3561FF;
  opacity: 0.8;
}
.account_burger .account_link .account_item:nth-child(7) {
  margin-bottom: 0;
  padding-bottom: 0;
  border-bottom: 1px solid transparent;
}
.account_burger .account_network {
  display: none;
  align-items: center;
  gap: 60px;
  margin-top: 80px;
}

.account_burger.active {
  display: block;
}

.bg_bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  z-index: -1;
}
.bg_bottom img {
  height: 20%;
  width: 100%;
}

.bg_top {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  z-index: -1;
}
.bg_top img {
  width: 100%;
}

.bg_right {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
}
.bg_right img {
  width: 100%;
}

.mySwiper .swiper-wrapper .swiper-slide img {
  width: 100%;
}
.mySwiper .swiper-wrapper .media_slider {
  display: none;
}

.swiper-pagination .swiper-pagination-bullet-active {
  background-color: #D9D9D9;
}
.swiper-pagination .swiper-pagination-bullet {
  transform: translateY(-22px);
  margin: 0 11px !important;
  height: 9px;
  width: 9px;
  background-color: #6C6C6C;
}

header {
  background: rgba(0, 0, 0, 0.6);
  -webkit-backdrop-filter: blur(9.5px);
          backdrop-filter: blur(9.5px);
}
header .header_wrapper {
  padding: 17px 0;
  display: flex;
  align-items: center;
}
header .header_wrapper .nav_link {
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: 44px;
}
header .header_wrapper .nav_item a {
  display: flex;
  align-items: center;
  color: #fff;
  text-align: center;
  font-family: "Golos Text VF", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px; /* 112.5% */
}
header .header_wrapper .nav_item a svg {
  margin-right: 7px;
}
header .header_wrapper .nav_item_active {
  position: relative;
}
header .header_wrapper .nav_item_active::before {
  display: none;
  box-shadow: -1px 1px 25px -5px rgba(255, 211, 51, 0.75);
  -webkit-box-shadow: -1px 1px 25px -5px rgba(255, 211, 51, 0.75);
  -moz-box-shadow: -1px 1px 25px -5px rgba(255, 211, 51, 0.75);
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  width: 100%;
  border-radius: 2px;
  height: 2px;
  background-color: #FFD333;
}
header .header_wrapper .nav_item_active img {
  position: absolute;
  bottom: -10px;
  left: -6px;
}
header .header_wrapper .account {
  display: flex;
  align-items: center;
}
header .header_wrapper .account .search_icon {
  margin-right: 29px;
}
header .header_wrapper .account .account_name p {
  color: #fff;
  text-align: center;
  font-family: "Golos Text VF", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  opacity: 0.5; /* 150% */
}
header .header_wrapper .account .account_name h4 {
  margin-top: 2px;
  color: #fff;
  text-align: center;
  font-family: "Golos Text VF", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px; /* 128.571% */
}
header .header_wrapper .account .account_icon {
  cursor: pointer;
  margin-left: 16px;
  margin-right: 10px;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
  border: 2px solid var(--border-border-imput, #2A2533);
  background: #3561FF;
  color: #FFF;
  text-align: center;
  font-family: "Golos Text VF", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px; /* 112.5% */
}
header .header_wrapper .account .account_person {
  white-space: nowrap;
  display: none;
  cursor: pointer;
}
header .header_wrapper .account .account_person h6 {
  color: #fff;
  font-family: "Golos Text VF", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px; /* 128.571% */
}
header .header_wrapper .account .account_person p {
  color: #fff;
  font-family: "Golos Text VF", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px; /* 150% */
  opacity: 0.5;
}
header .header_wrapper .account .account_person.active {
  display: block;
}
header .header_wrapper .account .account_down svg:nth-child(1) {
  display: block;
}
header .header_wrapper .account .account_down svg:nth-child(2) {
  display: none;
}
header .header_wrapper .account .account_down.active svg:nth-child(1) {
  display: none;
}
header .header_wrapper .account .account_down.active svg:nth-child(2) {
  display: block;
}
header .header_wrapper .header_burger {
  display: none;
}
header .header_wrapper .header_burger svg:nth-child(1) {
  display: block;
}
header .header_wrapper .header_burger svg:nth-child(2) {
  display: none;
}
header .header_wrapper .header_burger.active svg:nth-child(1) {
  display: none;
}
header .header_wrapper .header_burger.active svg:nth-child(2) {
  display: block;
}
header .header_wrapper .header_buttons {
  display: flex;
  align-items: center;
}
header .header_wrapper .header_buttons .header_btn_one {
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 12px;
  border: 1px solid #1B1D26;
  background: #1F2229;
  width: 162px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FFF;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  transition: 0.3s linear;
  font-style: normal;
  font-weight: 700;
  line-height: 140%;
}
header .header_wrapper .header_buttons .header_btn_one:hover {
  border-radius: 12px;
  border: 1px solid #3561FF;
}
header .header_wrapper .header_buttons .header_btn_two {
  transition: 0.3s linear;
  border-radius: 12px;
  background: #3561FF;
  width: 162px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FFF;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%;
}
header .header_wrapper .header_buttons .header_btn_two:hover {
  border-radius: 12px;
  background: #3561FF;
  box-shadow: 0px 0px 25px 0px rgba(53, 97, 255, 0.55);
}

#index {
  overflow: hidden;
}
#index .jackpot {
  padding: 20px 0;
  background: #1F2229;
  display: flex;
  align-items: center;
  justify-content: center;
}
#index .jackpot .jackpot_main {
  margin-right: 26px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 230px;
  height: 54px;
  color: #FFF;
  text-align: center;
  font-family: "Golos Text VF", sans-serif;
  font-size: 29.175px;
  font-style: normal;
  font-weight: 700;
  line-height: 40.438px; /* 138.605% */
  text-transform: uppercase;
  border-radius: 12px;
  border: 1.477px solid #3561FF;
  box-shadow: 2.91749px 2.91749px 4.37624px 0px rgba(178, 134, 255, 0.25), -2.91749px -2.91749px 4.37624px 0px rgba(178, 134, 255, 0.25);
}
#index .jackpot .jackpot_main_money {
  color: #FFF;
  text-align: center;
  font-family: "Golos Text VF", sans-serif;
  font-size: 29.175px;
  font-style: normal;
  font-weight: 700;
  line-height: 40.438px; /* 138.605% */
  text-transform: uppercase;
}
#index .main_menu_wrapper {
  overflow: scroll !important;
  width: 100%;
}
#index .main_menu {
  padding-top: 20px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #494C53;
  width: 1140px;
}
#index .main_menu .main_menu_link {
  padding-right: 19px;
  padding-left: 19px;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.5s linear;
}
#index .main_menu .main_menu_link a {
  white-space: nowrap;
  color: #B8BABF;
  font-family: "Golos Text VF", sans-serif;
  font-size: 14.83px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-bottom: 13px;
}
#index .main_menu .main_menu_active {
  border-bottom: 2px solid #FFD333;
}
#index .main_menu .main_menu_active a {
  color: #fff;
  font-family: "Golos Text VF", sans-serif;
  font-size: 14.83px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
#index .main_menu_wrapper::-webkit-scrollbar {
  display: none;
}
#index .provider {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#index .provider .provider_select {
  margin-right: 13px;
  cursor: pointer;
  border-radius: 6.41px;
  background: linear-gradient(180deg, #2A2F38 0%, #1F2229 100%);
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 340px;
  height: 43px;
}
#index .provider .provider_select span {
  padding-left: 16px;
  color: #fff;
  font-family: "Golos Text VF", sans-serif;
  font-size: 14.83px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
#index .provider .provider_select svg {
  margin-right: 11px;
}
#index .provider .provider_search {
  position: relative;
  width: 340px;
  height: 43px;
  display: flex;
  align-items: center;
  border-radius: 12px;
  border: 1px solid #2A2E37;
  background: #1F2229;
}
#index .provider .provider_search label {
  width: 100%;
  padding: 8px;
  cursor: pointer;
}
#index .provider .provider_search label img {
  width: 24px;
  height: 24px;
}
#index .provider .provider_search label img:nth-child(1) {
  display: block;
}
#index .provider .provider_search label img:nth-child(2) {
  display: none;
}
#index .provider .provider_search #search {
  border-radius: 12px;
  padding-left: 40px;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border: 1px solid transparent;
  background-color: transparent;
  color: #FFF;
  font-family: "Golos Text VF", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  outline: none;
  padding-right: 8px;
}
#index .provider .provider_search.active {
  height: 42px;
}
#index .provider .provider_search.active label {
  padding: 0;
}
#index .provider .provider_search.active label img {
  padding-left: 0;
  width: 100%;
  height: 100%;
}
#index .provider .provider_search.active label img:nth-child(1) {
  display: none;
}
#index .provider .provider_search.active label img:nth-child(2) {
  display: block;
}
#index .provider .select2-container--default {
  margin-right: 13px;
  width: 340px !important;
}
#index .provider .select2-container--default .select2-dropdown .select2-search--dropdown {
  display: none !important;
}
#index .provider .select2-container--default .select2-search--dropdown {
  display: none !important;
  padding: 4px;
}
#index .provider .select2-container--default .select2-results__option--highlighted .select2-results__option--selectable {
  color: #fff;
  background-color: linear-gradient(180deg, #2A2F38 0%, #1F2229 100%);
}
#index .provider .select2-container--default .select2-selection--single {
  width: 340px;
  display: flex;
  align-items: center;
  height: 43px;
  border: none;
  background: linear-gradient(180deg, #2A2F38 0%, #1F2229 100%);
}
#index .provider .select2-container--default .select2-selection--single .select2-selection__rendered {
  background-image: url("../images/down.svg");
  background-repeat: no-repeat;
  background-position: right;
  color: #fff;
  font-family: "Golos Text VF", sans-serif;
  font-size: 14.83px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-left: 12px;
  padding-right: 230px;
}
#index .provider .select2-container--default .select2-selection--single .select2-selection__arrow {
  display: none;
}
#index .tt-select {
  width: 350px;
  position: relative;
  height: auto;
  padding: 0px;
  text-align: left;
  margin-right: 13px;
}
#index .tt-select select {
  display: none;
}
#index .select-selected {
  display: flex;
  align-items: center;
  height: 42px;
  color: #fff;
  font-family: "Golos Text VF", sans-serif;
  font-size: 14.83px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border: none;
  border-radius: 12px;
  background: linear-gradient(180deg, #2A2F38 0%, #1F2229 100%), #1F2229;
}
#index .select-selected:after {
  position: absolute;
  content: "";
  top: 12px;
  right: 10px;
  width: 18px;
  height: 18px;
}
#index .select-selected:before {
  position: absolute;
  content: "";
  top: 12px;
  right: 10px;
  width: 18px;
  height: 18px;
  background: url("../images/down_select.svg");
}
#index .select-selected.select-arrow-active:before {
  border: none;
  transform: rotate(180deg);
}
#index .select-selected.select-arrow-active:after {
  border-color: transparent transparent #000000 transparent;
}
#index .select-items div, #index .select-selected {
  color: #ffffff;
  padding: 8px 16px;
  border: 1px solid #333333;
  cursor: pointer;
}
#index .select-items {
  overflow: hidden;
  color: #fff;
  font-family: "Golos Text VF", sans-serif;
  font-size: 14.83px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border: none;
  border-radius: 12px;
  position: absolute;
  background-color: #313131;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 9;
}
#index .select-hide {
  display: none;
}
#index .select-items div:hover, #index .same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}
#index .game_title {
  margin-top: 32px;
  margin-bottom: 40px;
}
#index .game_title h3 {
  color: #FFF;
  font-family: "Golos Text VF", sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px; /* 125% */
  margin-bottom: 16px;
}
#index .game_title p {
  color: #FFF;
  font-family: "Golos Text VF", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 28px */
}
#index .main_cards {
  padding-top: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
#index .main_cards .card_wrapper {
  cursor: pointer;
  flex-basis: 200px;
  border: 1px solid transparent;
  margin-bottom: 36px;
  transition: 0.1s ease;
}
#index .main_cards .card_wrapper:hover .card_hover {
  transform: scale(1);
}
#index .main_cards .card_wrapper .card_hover {
  border: 2px solid transparent;
  border-radius: 20px;
  position: absolute;
  left: 0;
  top: 0;
  transform: scale(0);
  width: 100%;
  height: 97%;
  transition: 0.2s linear;
  background: rgba(0, 0, 0, 0.8);
  border: 2px solid rgb(53, 97, 255);
  box-shadow: -4px 1px 24px 6px rgba(53, 97, 255, 0.33);
  -webkit-box-shadow: -4px 1px 24px 6px rgba(53, 97, 255, 0.33);
  -moz-box-shadow: -4px 1px 24px 6px rgba(53, 97, 255, 0.33);
}
#index .main_cards .card_wrapper .card_hover button {
  cursor: pointer;
  position: absolute;
  top: 6px;
  right: 7px;
  padding: 6px;
  background-color: transparent;
  border: none;
}
#index .main_cards .card_wrapper .card_hover button svg.active path {
  fill: #F63A3A;
  stroke-width: 1px;
  stroke: #F63A3A;
}
#index .main_cards .card_wrapper .card_hover .card_link {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 10px auto;
  padding: 6px 0;
  text-align: center;
  display: block;
  width: 119px;
  color: #fff;
  font-family: "Golos Text VF", sans-serif;
  font-size: 11.6px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  border-radius: 12px;
  background: #3561FF;
  transition: 0.3s linear;
}
#index .main_cards .card_wrapper .card_hover .card_link:hover {
  border-radius: 12px;
  background: #3561FF;
  box-shadow: 0px 0px 8px 0px rgba(53, 97, 255, 0.8);
}
#index .main_cards .card_wrapper .card_hover .card_link_two {
  position: absolute;
  bottom: 35px;
  left: 0;
  right: 0;
  margin: 10px auto;
  padding: 6px 0;
  text-align: center;
  display: block;
  width: 119px;
  color: #fff;
  font-family: "Golos Text VF", sans-serif;
  font-size: 11.6px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  border-radius: 12px;
  background: transparent;
  border: 1px solid #3561FF;
  transition: 0.3s linear;
}
#index .main_cards .card_wrapper .card_hover .card_link_two:hover {
  border-radius: 12px;
  border: 1px solid #3561FF;
}
#index .main_cards .card_wrapper .card_img {
  position: relative;
}
#index .main_cards .card_wrapper .card_img img {
  border-radius: 20px;
  width: 100%;
}
#index .main_cards .card_wrapper h4 {
  color: #fff;
  text-align: center;
  font-family: "Golos Text VF", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 16.8px */
  letter-spacing: 0.24px;
  text-transform: uppercase;
  margin-top: 10px;
}
#index .recommended {
  display: flex;
  align-items: start;
  gap: 26px;
  justify-content: space-between;
}
#index .recommended .recommended_left {
  width: 50%;
}
#index .recommended .recommended_left h4 {
  color: #fff;
  font-family: "Golos Text VF", sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
  margin-bottom: 49px; /* 125% */
}
#index .recommended .recommended_left .recommended_slider {
  border-radius: 12px;
  background: #11141B;
  width: 100%;
  padding: 30px 50px;
  margin: 0 auto;
}
#index .recommended .recommended_left .recommended_slider .mySwiper2 .swiper-slide {
  text-align: center;
}
#index .recommended .recommended_left .recommended_slider .mySwiper2 img {
  border-radius: 10px;
  width: 70%;
  margin: 0 auto;
}
#index .recommended .recommended_left .recommended_slider .mySwiper2 .swiper-button-prev {
  color: #FDFDFD;
  width: 26px;
}
#index .recommended .recommended_left .recommended_slider .mySwiper2 .swiper-button-next {
  color: #FDFDFD;
  width: 26px;
}
#index .recommended .recommended_left .mySwiper .swiper-wrapper {
  height: 212px;
  width: 100%;
  border-radius: 15px;
}
#index .recommended .recommended_left .mySwiper .swiper-wrapper img {
  padding: 30px 50px;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
#index .recommended .recommended_right {
  width: 50%;
}
#index .recommended .recommended_right h4 {
  color: #fff;
  font-family: "Golos Text VF", sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
  margin-bottom: 49px; /* 125% */
}
#index .recommended .recommended_right .recommended_cards {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
#index .recommended .recommended_right .recommended_cards .recommended_card {
  padding: 9px 12px;
  height: 120px;
  display: flex;
  align-items: start;
  border-radius: 12px;
  border: 1px solid #3561FF;
  background: #1F2229;
}
#index .recommended .recommended_right .recommended_cards .recommended_card img {
  height: 100%;
}
#index .recommended .recommended_right .recommended_cards .recommended_card .recommended_text {
  margin-left: 23px;
}
#index .recommended .recommended_right .recommended_cards .recommended_card .recommended_text h6 {
  color: #fff;
  font-family: "Inter", sans-serif;
  font-size: 15.114px;
  font-style: normal;
  font-weight: 700;
  line-height: 21.592px; /* 142.857% */
  margin-bottom: 4px;
}
#index .recommended .recommended_right .recommended_cards .recommended_card .recommended_text span {
  color: #3561FF;
  font-family: "Inter", sans-serif;
  font-size: 14.96px;
  font-style: normal;
  font-weight: 600;
  line-height: 17.273px; /* 115.464% */
}
#index .recommended .recommended_right .recommended_cards .recommended_card .recommended_text p {
  margin-top: 4px;
  color: rgba(255, 255, 255, 0.9);
  font-family: "Inter", sans-serif;
  font-size: 14.96px;
  font-style: normal;
  font-weight: 400;
  line-height: 17.273px; /* 115.464% */
}
#index .recommended .recommended_right .recommended_cards .recommended_card h5 {
  margin-left: auto;
  color: var(--text-text, #FFF);
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 15.114px;
  font-style: normal;
  font-weight: 700;
  line-height: 21.592px; /* 142.857% */
}
#index .online_casino {
  margin: 40px 0;
}
#index .online_casino h3 {
  margin-bottom: 16px;
  color: #fff;
  font-family: "Golos Text VF", sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px; /* 125% */
}
#index .online_casino p {
  color: #FFF;
  font-family: "Golos Text VF", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 28px */
}
#index .logo_active {
  padding: 40px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
#index .logo_active a {
  margin-right: 80px;
  margin-bottom: 20px;
}
#index .logo_noactive {
  margin: 40px 0;
  display: flex;
  align-items: center;
  gap: 30px;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

#game_map .logo_active {
  padding: 40px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
#game_map .logo_active a {
  margin-right: 80px;
  margin-bottom: 20px;
}
#game_map .logo_noactive {
  margin: 40px 0;
  display: flex;
  align-items: center;
  gap: 30px;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

#promotions .promotion_main {
  margin-top: 67px;
  margin-bottom: 40px;
  text-align: center;
}
#promotions .promotion_main h3 {
  color: #D79730;
  font-family: "Golos Text VF", sans-serif;
  font-size: 38px;
  font-style: normal;
  font-weight: 600;
  line-height: 46px; /* 121.053% */
  text-transform: uppercase;
  margin-bottom: 20px;
}
#promotions .promotion_main p {
  margin: 0 auto;
  max-width: 793px;
  color: #FFF;
  text-align: center;
  font-family: "Golos Text VF", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 19.6px */
  margin-bottom: 40px;
}
#promotions .promotion_main .promotion_btns button {
  cursor: pointer;
  margin: 0 auto;
  border: none;
  height: 40px;
  width: 249px;
  color: #FFF;
  text-align: center;
  font-family: "Golos Text VF", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.28px;
  text-transform: uppercase;
  border-radius: 12px;
  background: linear-gradient(0deg, #C99C38 0%, #C99C38 100%), radial-gradient(70.71% 70.71% at 50% 50%, rgba(254, 204, 53, 0.5) 0%, rgba(185, 135, 76, 0.5) 100%), radial-gradient(70.71% 70.71% at 50% 50%, #FFFFD9 0%, #B9874C 100%);
  transition: 0.3s linear;
}
#promotions .promotion_main .promotion_btns button:hover {
  border-radius: 12px;
  background: linear-gradient(0deg, #C99C38 0%, #C99C38 100%), radial-gradient(70.71% 70.71% at 50% 50%, rgba(254, 204, 53, 0.5) 0%, rgba(185, 135, 76, 0.5) 100%), radial-gradient(70.71% 70.71% at 50% 50%, #FFFFD9 0%, #B9874C 100%);
  box-shadow: 0px 0px 8px 0px rgba(201, 156, 56, 0.8);
}
#promotions .promotion_line svg {
  width: 100%;
}
#promotions .promotion_cards .promotion_card_title {
  margin-top: 33px;
  text-align: center;
}
#promotions .promotion_cards .promotion_card_title h2 {
  color: #FFF;
  font-family: "Golos Text VF", sans-serif;
  font-size: 38px;
  font-style: normal;
  font-weight: 600;
  line-height: 46px; /* 121.053% */
  text-transform: uppercase;
  margin-bottom: 20px;
}
#promotions .promotion_cards .promotion_card_title p {
  color: #FFF;
  font-family: "Golos Text VF", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 19.6px */
}
#promotions .promotion_cards .promotion_cards_wrapper {
  margin-bottom: 27px;
  margin-top: 40px;
  gap: 14px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
#promotions .promotion_cards .promotion_cards_wrapper .promotion_card {
  max-width: 32.3%;
  border-radius: 12px;
  border: 1px solid #2E3138;
  background: #1F2229;
  padding: 6px 6px 12px 6px;
  transition: 0.3s linear;
  text-align: center;
}
#promotions .promotion_cards .promotion_cards_wrapper .promotion_card:hover {
  border: 1px solid #2E3138;
  background: #11141B;
}
#promotions .promotion_cards .promotion_cards_wrapper .promotion_card img {
  width: 100%;
  border-radius: 10px;
}
#promotions .promotion_cards .promotion_cards_wrapper .promotion_card h5 {
  margin: 10px 0px;
  color: #FFF;
  text-align: center;
  font-family: "Golos Text VF", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 14.764px; /* 123.034% */
}
#promotions .promotion_cards .promotion_cards_wrapper .promotion_card .card_btn button {
  transition: 0.3s linear;
  cursor: pointer;
  width: 160px;
  height: 30px;
  border: none;
  color: #FFF;
  font-family: "Golos Text VF", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  border-radius: 15.96px;
  background: #3561FF;
}
#promotions .promotion_cards .promotion_cards_wrapper .promotion_card .card_btn button:hover {
  background: #3561FF;
  box-shadow: 0px 0px 18px 0px rgba(53, 97, 255, 0.95);
}

footer {
  padding-bottom: 97px;
  padding-top: 55px;
}
footer .footer_wrapper {
  display: flex;
  align-items: start;
}
footer .footer_wrapper .network_messenger {
  margin-top: 46px;
  display: flex;
  align-items: center;
  gap: 20px;
}
footer .footer_wrapper .network_messenger .network_link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 12px;
  background-color: transparent;
  transition: 0.3s linear;
}
footer .footer_wrapper .network_messenger .network_link:hover {
  background: #11141B;
}
footer .footer_wrapper .network_messenger .network_link a svg {
  width: 24px;
  height: 24px;
}
footer .footer_wrapper .footer_menu {
  margin-left: auto;
  margin-right: 165px;
}
footer .footer_wrapper .footer_menu .footer_link {
  margin-bottom: 10px;
}
footer .footer_wrapper .footer_menu .footer_link a {
  color: #585E73;
  font-family: "Golos Text VF", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 22.4px */
  transition: 0.3s linear;
}
footer .footer_wrapper .footer_menu .footer_link a:hover {
  color: #3561FF;
}
footer .footer_wrapper .footer_menu_two .footer_menu_item {
  margin-bottom: 10px;
}
footer .footer_wrapper .footer_menu_two .footer_menu_item a {
  color: #585E73;
  font-family: "Golos Text VF", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 22.4px */
  line-height: 140%; /* 22.4px */
  transition: 0.3s linear;
}
footer .footer_wrapper .footer_menu_two .footer_menu_item a:hover {
  color: #3561FF;
}
footer .footer_text {
  transform: translateY(-20px);
  color: #585E73;
  font-family: "Golos Text VF", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 22.4px */
}

@media only screen and (max-width: 1300px) {
  header .header_wrapper .nav_link {
    gap: 17px;
  }
}
@media only screen and (max-width: 1200px) {
  .body.hidden2 {
    display: block;
  }
  .account_burger {
    display: none;
    position: fixed;
    left: 0;
    top: 62px;
    z-index: 11;
    width: 100%;
    height: 100%;
    background: rgba(31, 34, 41, 0.95);
  }
  .account_burger .account_link {
    padding: 12px 23px;
    width: 100%;
    border-radius: 0px 0px 15.941px 15.941px;
    background: linear-gradient(134deg, rgba(31, 34, 41, 0) 31.52%, #3561FF 117.7%), rgba(0, 0, 0, 0.8);
    -webkit-backdrop-filter: blur(12.6199245453px);
            backdrop-filter: blur(12.6199245453px);
    display: flex;
    align-items: start;
    flex-direction: column;
    justify-content: start;
  }
  .account_burger .account_link .account_item_name {
    display: block;
  }
  .account_burger .account_link .account_menu {
    display: flex;
    align-items: center;
  }
  .account_burger .account_link .account_item {
    color: #FFF;
    font-family: "Golos Text VF", sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 23.911px; /* 99.631% */
    letter-spacing: 0.48px;
    padding-bottom: 14px;
    width: 100%;
    margin-bottom: 20px;
    border-bottom: 1px solid #494C53;
  }
  .account_burger .account_link .account_item svg {
    width: 20px;
    height: 20px;
    margin-right: 14px;
  }
  .account_burger .account_link .account_item svg path {
    stroke-width: 1.328px;
    stroke: #FFF;
    opacity: 0.8;
  }
  .account_burger .account_link .account_item h6 {
    color: #fff;
    font-family: "Golos Text VF", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 21.383px; /* 118.797% */
  }
  .account_burger .account_link .account_item p {
    color: #fff;
    font-family: "Golos Text VF", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 21.383px; /* 152.739% */
  }
  .account_burger .account_link .account_item_active {
    color: #3561FF;
  }
  .account_burger .account_link .account_item_active svg path {
    stroke-width: 1.328px;
    stroke: #3561FF;
    opacity: 0.8;
  }
  .account_burger .account_network {
    display: flex;
    align-items: center;
    gap: 60px;
    margin-top: 80px;
  }
  header .header_wrapper .nav_link {
    gap: 18px;
  }
  header .header_wrapper .account .search_icon {
    margin-right: 12px;
  }
  header .header_wrapper .account .account_person.active {
    display: none;
  }
  header .header_wrapper .header_buttons .header_btn_one {
    margin-right: 10px;
    margin-left: 10px;
    font-size: 10px;
    width: 90px;
    height: 35px;
    border-radius: 10px;
  }
  header .header_wrapper .header_buttons .header_btn_two {
    font-size: 10px;
    width: 90px;
    height: 35px;
    border-radius: 10px;
  }
  #index .logo_active a {
    margin-left: 40px;
    margin-right: 40px;
  }
  #index .logo_active a img {
    width: 100%;
  }
}
@media only screen and (max-width: 992px) {
  header .header_wrapper .nav_link a {
    font-size: 11px;
  }
}
@media only screen and (max-width: 970px) {
  #index .recommended {
    display: flex;
    align-items: start;
    gap: 26px;
    flex-direction: column;
    justify-content: space-between;
  }
  #index .recommended .recommended_left {
    width: 100%;
  }
  #index .recommended .recommended_left .recommended_slider {
    border-radius: 12px;
    background: #11141B;
    width: 100%;
    padding: 30px 80px;
    margin: 0 auto;
  }
  #index .recommended .recommended_left .mySwiper .swiper-wrapper {
    height: 212px;
    width: 100%;
  }
  #index .recommended .recommended_left .mySwiper .swiper-wrapper img {
    height: 100%;
    border-radius: 15px;
    -o-object-fit: contain;
       object-fit: contain;
  }
  #index .recommended .recommended_right {
    width: 100%;
  }
  #index .recommended .recommended_right h4 {
    color: #fff;
    font-family: "Golos Text VF", sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    margin-bottom: 49px; /* 125% */
  }
  #index .recommended .recommended_right .recommended_cards {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  #index .recommended .recommended_right .recommended_cards .recommended_card {
    padding: 9px 12px;
    height: 120px;
    display: flex;
    align-items: start;
    border-radius: 12px;
    border: 1px solid #3561FF;
    background: #1F2229;
  }
  #index .recommended .recommended_right .recommended_cards .recommended_card img {
    height: 100%;
  }
  #index .recommended .recommended_right .recommended_cards .recommended_card .recommended_text {
    margin-left: 23px;
  }
  #index .recommended .recommended_right .recommended_cards .recommended_card .recommended_text h6 {
    font-size: 15.114px;
  }
  #index .recommended .recommended_right .recommended_cards .recommended_card .recommended_text span {
    font-size: 14.96px;
  }
  #index .recommended .recommended_right .recommended_cards .recommended_card .recommended_text p {
    margin-top: 4px;
    font-size: 14.96px;
  }
  #index .recommended .recommended_right .recommended_cards .recommended_card h5 {
    font-size: 15.114px;
  }
}
@media only screen and (max-width: 923px) {
  #promotions .promotion_cards .promotion_cards_wrapper {
    justify-content: center;
  }
  #promotions .promotion_cards .promotion_cards_wrapper .promotion_card {
    max-width: 49%;
  }
}
@media only screen and (max-width: 870px) {
  .header_container {
    padding: 0 18px;
  }
  header .header_wrapper .nav_link .nav_item {
    display: none;
  }
  header .header_wrapper .header_burger {
    margin-left: 12px;
    display: block;
  }
}
@media only screen and (max-width: 768px) {
  footer .footer_wrapper .footer_menu {
    margin-right: 60px;
  }
  .mySwiper .swiper-wrapper .media_slider {
    display: block;
  }
  .mySwiper .swiper-wrapper .desktop_slider {
    display: none;
  }
  #index .jackpot {
    background-color: #090A0D;
  }
}
@media only screen and (max-width: 719px) {
  #promotions .promotion_cards .promotion_cards_wrapper {
    gap: 12px;
    justify-content: center;
  }
  #promotions .promotion_cards .promotion_cards_wrapper .promotion_card {
    max-width: 100%;
    width: 75%;
  }
}
@media only screen and (max-width: 620px) {
  #index .main_cards .card_wrapper {
    flex-basis: 270px;
  }
  #index .main_cards .card_wrapper .card_img .card_hover button svg {
    width: 20px;
    height: 20px;
  }
  #index .main_cards .card_wrapper .card_img .card_hover .card_link {
    margin: 10px auto;
    padding: 12px 0;
    text-align: center;
    display: block;
    width: 150px;
    font-size: 14.6px;
  }
  #index .main_cards .card_wrapper .card_img .card_hover .card_link_two {
    bottom: 50px;
    margin: 10px auto;
    padding: 12px 0;
    text-align: center;
    display: block;
    width: 150px;
    font-size: 14.6px;
  }
}
@media only screen and (max-width: 576px) {
  .bg_bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    height: 15%;
    z-index: -1;
  }
  .bg_bottom img {
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .container {
    padding: 0 25px;
  }
  .container_card {
    padding: 0 25px;
  }
  header .header_wrapper .header_logo img {
    width: 107px;
  }
  header .header_wrapper .account .account_name p {
    font-size: 8px;
  }
  header .header_wrapper .account .account_name h4 {
    line-height: 4px;
    font-size: 9px;
  }
  header .header_wrapper .account .account_icon {
    font-size: 10px;
    width: 26px;
    height: 26px;
    margin-left: 8px;
    margin-right: 4px;
  }
  header .header_wrapper .account .account_down {
    width: 20px;
  }
  header .header_wrapper .header_burger {
    margin-left: 5px;
  }
  #index .select-selected {
    margin-bottom: 12px;
  }
  #index .game_title {
    margin-bottom: 0px;
  }
  #index .game_title h3 {
    font-size: 26px;
    line-height: 40px;
  }
  #index .game_title p {
    font-size: 16px;
    line-height: 140%;
  }
  #index .main_cards {
    padding-top: 34px;
    justify-content: space-between;
    gap: 11px;
  }
  #index .main_cards .card_wrapper {
    margin-bottom: 20px;
    flex-basis: 48%;
  }
  #index .main_cards .card_wrapper h4 {
    font-size: 9px;
  }
  #index .main_cards .card_wrapper .card_img img {
    border-radius: 10px;
  }
  #index .main_cards .card_wrapper .card_img .card_hover {
    border-radius: 10px;
  }
  #index .main_cards .card_wrapper .card_img .card_hover button svg {
    width: 20px;
    height: 20px;
  }
  #index .main_cards .card_wrapper .card_img .card_hover .card_link {
    margin: 10px auto;
    padding: 10px 0;
    text-align: center;
    display: block;
    width: 140px;
    font-size: 14.6px;
  }
  #index .main_cards .card_wrapper .card_img .card_hover .card_link_two {
    bottom: 50px;
    margin: 10px auto;
    padding: 10px 0;
    text-align: center;
    display: block;
    width: 140px;
    font-size: 14.6px;
  }
  #index .provider {
    flex-direction: column;
  }
  #index .provider .provider_select {
    margin-right: 0;
    margin-bottom: 14px;
    width: 100%;
  }
  #index .provider .provider_search {
    width: 100%;
    height: 30%;
  }
  #index .jackpot .jackpot_main {
    margin-right: 18px;
    width: 158px;
    height: 37px;
    font-size: 20.175px;
  }
  #index .jackpot .jackpot_main_money {
    font-size: 20px;
  }
  #index .online_casino h3 {
    font-size: 26px;
  }
  #index .online_casino p {
    text-align: left;
    font-size: 16px;
  }
  #index .logo_active a {
    margin-left: 20px;
    margin-right: 20px;
    width: 100px;
  }
  #index .logo_active a img {
    width: 100%;
  }
  #index .logo_noactive a {
    width: 70px;
  }
  #index .logo_noactive a img {
    width: 100%;
  }
  #index .recommended .recommended_left h4 {
    font-size: 26px;
    margin-bottom: 30px;
  }
  #index .recommended .recommended_left .recommended_slider {
    border-radius: 12px;
    background: #11141B;
    width: 100%;
    padding: 10px;
    margin: 0 auto;
  }
  #index .recommended .recommended_right h4 {
    font-size: 26px;
    margin-bottom: 30px;
  }
  #index .recommended .recommended_right .recommended_cards .recommended_card h5 {
    max-width: 70px;
    font-size: 10px;
  }
  #index .recommended .recommended_right .recommended_cards .recommended_card img {
    width: 100px;
  }
  #index .recommended .recommended_right .recommended_cards .recommended_card .recommended_text {
    margin-left: 10px;
  }
  #index .recommended .recommended_right .recommended_cards .recommended_card .recommended_text h6 {
    font-size: 13px;
  }
  #index .recommended .recommended_right .recommended_cards .recommended_card .recommended_text span {
    font-size: 12px;
  }
  #index .recommended .recommended_right .recommended_cards .recommended_card .recommended_text p {
    font-size: 12px;
  }
  #index .tt-select {
    margin-bottom: 14px;
    width: 100%;
    margin-right: 0;
  }
  #promotions .promotion_main {
    margin-top: 30px;
    margin-bottom: 30px;
  }
  #promotions .promotion_main h3 {
    font-size: 26px;
    font-style: normal;
    font-weight: 600;
    line-height: 40px;
    margin-bottom: 16px;
  }
  #promotions .promotion_main p {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    margin-bottom: 30px;
  }
  #promotions .promotion_main .promotion_btns button {
    border-radius: 12px;
    width: 230px;
    height: 40px;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.28px;
  }
  #promotions .promotion_cards .promotion_card_title {
    margin-top: 30px;
  }
  #promotions .promotion_cards .promotion_card_title h2 {
    font-size: 26px;
    line-height: 40px;
    margin-bottom: 16px;
  }
  #promotions .promotion_cards .promotion_card_title p {
    font-size: 16px;
    line-height: 140%;
  }
  #promotions .promotion_cards .promotion_cards_wrapper {
    margin-bottom: 0px;
  }
  #promotions .promotion_cards .promotion_cards_wrapper .promotion_card {
    padding: 5px 5px 10px 5px;
    max-width: 100%;
    width: 100%;
  }
  #promotions .promotion_cards .promotion_cards_wrapper .promotion_card img {
    width: 100%;
    -o-object-fit: contain;
       object-fit: contain;
    height: 94px;
  }
  #promotions .promotion_cards .promotion_cards_wrapper .promotion_card .card_btn button {
    border-radius: 12px;
    width: 133px;
    height: 37px;
  }
  footer .footer_wrapper {
    flex-direction: column;
  }
  footer .footer_wrapper .footer_menu {
    margin-top: 49px;
    margin-bottom: 59px;
    margin-left: 0;
  }
  footer .footer_text {
    display: none;
  }
}
@media only screen and (max-width: 486px) {
  #index .main_cards .card_wrapper .card_img .card_hover button svg {
    width: 15px;
    height: 15px;
  }
  #index .main_cards .card_wrapper .card_img .card_hover .card_link {
    margin: 10px auto;
    padding: 4px 0;
    text-align: center;
    display: block;
    width: 60%;
    font-size: 8.6px;
  }
  #index .main_cards .card_wrapper .card_img .card_hover .card_link_two {
    bottom: 25px;
    margin: 10px auto;
    padding: 4px 0;
    text-align: center;
    display: block;
    width: 60%;
    font-size: 8.6px;
  }
  header .header_wrapper .header_buttons .header_btn_one {
    margin-right: 5px;
    margin-left: 5px;
    font-size: 10px;
    width: 80px;
    height: 30px;
    border-radius: 10px;
  }
  header .header_wrapper .header_buttons .header_btn_two {
    font-size: 10px;
    width: 80px;
    height: 30px;
    border-radius: 10px;
  }
}/*# sourceMappingURL=style.css.map */